@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", serif;
}
body{
  background-color: #000000;
  color: #ffffff;
  letter-spacing: .15px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}